---
import { sanityPortableText } from "../../lib/portableText";
import Tags from "../Tags.astro";
import BlogPostImage from "./BlogPostImage.astro";
import FeatureBlock from "./FeatureBlock.astro";

const { post } = Astro.props;

const hasFeatureOrBody = Boolean(post.feature || post.body);
//set image sizes for posts without body or features
const lgLayoutImageSize = hasFeatureOrBody ? 300 : 600;
---

<article class:list={["mt-5 gallery blog-post", "riso-" + post.color]}>
  <p class="text-xs">{post.date.slice(0, 10)}</p>
  <div
    class:list={[
      "mt-1 grid gap-12 md:grid-cols-2-1",
      hasFeatureOrBody ? "lg:grid-cols-1-2" : "lg:grid-col-2",
    ]}
  >
    {
      post.illustration && (
        <div class="">
          <BlogPostImage
            illustration={post.illustration}
            thumbSizes={`(min-width: 1024px) ${lgLayoutImageSize}px,(min-width: 768px) 370px, 370px`}
          />
        </div>
      )
    }

    <div class="space-y-5 md:col-start-1 lg:col-auto">
      <h1>
        {post.title}
      </h1>
      <p>
        {post.description}
      </p>
      {post.features && <FeatureBlock features={post.features} />}
      {
        post.body && (
          <div class="styled-body" set:html={sanityPortableText(post.body)} />
        )
      }
    </div>

    <footer
      class="col-span-full md:col-start-2 md:row-start-1 lg:row-auto lg:col-span-full"
    >
      <Tags tags={post.tags} path="/blog/" />
    </footer>
  </div>
</article>
