---
import { sanityPortableText } from "../../lib/portableText";
import Tags from "../Tags.astro";
import BlogPostImage from "./BlogPostImage.astro";
import BlogPostPicture from "./BlogPostPicture.astro";
import FeatureBlock from "./FeatureBlock.astro";

const { post } = Astro.props;

const isHorizontalImage =
  post.illustration &&
  post.illustration.size.width > post.illustration.size.height;
---

<article class:list={["w-full gallery blog-post", "riso-" + post.color]}>
  <p class="text-xs">{post.date.slice(0, 10)}</p>
  <div
    class:list={["grid gap-10", isHorizontalImage ? null : "lg:grid-cols-1-2"]}
  >
    {
      // todo: create vertical and horizontal image components or full blog layouts
      post.illustration && (
        <div>
          <BlogPostPicture illustration={post.illustration} />
        </div>
      )
    }

    <div class="flex flex-col gap-5">
      <h1>
        {post.title}
      </h1>
      <p>
        {post.description}
      </p>
      {post.features && <FeatureBlock features={post.features} />}
      {
        post.body && (
          <div class="styled-body" set:html={sanityPortableText(post.body)} />
        )
      }
    </div>

    <footer class="col-span-2">
      <Tags tags={post.tags} path="/blog/" />
    </footer>
  </div>
</article>
