---
import risoColorClasses from "../../utility/risoColorClasses.js";
import BlogCardImage from "./BlogCardImage.astro";
import BlogPostTags from "./BlogPostTags.astro";

const { post } = Astro.props;
const date = post.date.slice(0, 10);
const color = risoColorClasses[post.color];
const postUrl = `/blog/posts/${post.slug.current}/`;
---

<article>
  <span class:list={["text-xs", color.text]}>{date}</span>
  <a href={postUrl}>
    {
      post.illustration && (
        <BlogCardImage illustration={post.illustration} borderColor={color} />
      )
    }
  </a>
  <h2 class:list={["mt-1 md:text-2xl font-semibold uppercase", color.title]}>
    <a href={postUrl}>{post.title}</a>
  </h2>
  <p class:list={[" md:text-lg", color.text]}>{post.description}</p>
  <BlogPostTags tags={post.tags} />
</article>
