---
import risoColorClasses from "../../utility/risoColorClasses.js";
import Tags from "../Tags.astro";
import BlogCardImage from "./BlogCardImage.astro";

const { post } = Astro.props;
const date = post.date.slice(0, 10);
const color = risoColorClasses[post.color];
const postUrl = `/blog/posts/${post.slug.current}/`;
---

<article class="space-y-2">
  <a class="relative hover:opacity-70" href={postUrl}>
    <div>
      <span class="absolute -left-6 md:-left-8 text-riso-red">{">>"}</span>
      <span class:list={["text-xs", color.text]}>{date}</span>
    </div>
    {
      post.illustration && (
        <BlogCardImage illustration={post.illustration} borderColor={color} />
      )
    }
    <h2 class:list={["mt-2 md:text-2xl font-semibold uppercase", color.title]}>
      {post.title}
    </h2>
  </a>
  <p class:list={["md:text-lg", color.text]}>{post.description}</p>
  <Tags tags={post.tags} path="/blog/" />
</article>
