---
import { urlForImage } from "../lib/sanityImageUrlBuilder";

const { illustration } = Astro.props;

const img = illustration.image;
const width = 800;
const height = width / illustration.size.aspectRatio;
const imgUrl = urlForImage(img).width(width).fit("max").auto("format").url();
const thumbnailUrl = urlForImage(img)
  .width(width / 2)
  .fit("max")
  .auto("format")
  .url();
---

<a
  href={imgUrl}
  class="ps-image"
  data-pswp-width={width}
  data-pswp-height={height}
  target="_blank"
>
  <img class="mx-auto" src={thumbnailUrl} alt={illustration.alt} />
</a>
