---
import { urlForImage } from "../lib/sanityImageUrlBuilder";
import TagLink from "./TagLink.astro";
import Tags from "./Tags.astro";

const { illustration } = Astro.props;

const img = illustration.image;

const thumbSmall = 225;
const thumbMedium = 275;
const thumbLarge = 350;
const thumbHeight = thumbLarge / illustration.size.aspectRatio;

const displayWidth = 900;
const displayHeight = displayWidth / illustration.size.aspectRatio;

const smallThumbnail = urlForImage(illustration.image)
  .width(thumbSmall)
  .fit("max")
  .auto("format")
  .url();
const mediumThumbnail = urlForImage(illustration.image)
  .width(thumbMedium)
  .fit("max")
  .auto("format")
  .url();
const largeThumbnail = urlForImage(illustration.image)
  .width(thumbLarge)
  .fit("max")
  .auto("format")
  .url();
const displayImage = urlForImage(illustration.image)
  .width(displayWidth)
  .fit("max")
  .auto("format")
  .url();
---

<div class="ps-image transition duration-100 hover:-translate-y-1">
  <a
    href={displayImage}
    data-pswp-width={displayWidth}
    data-pswp-height={displayHeight}
    target="_blank"
  >
    <img
      class="mx-auto"
      src={largeThumbnail}
      srcset={`${largeThumbnail} ${thumbLarge}w, ${mediumThumbnail} ${thumbMedium}w, ${smallThumbnail} ${thumbSmall}w`}
      sizes="(min-width: 1024px) 225px,(min-width: 768px) 275px, 350px"
      alt={illustration.alt}
      width={thumbLarge}
      height={thumbHeight}
      loading="lazy"
    />
  </a>
  <div class="caption-content hidden">
    <h1 class="uppercase text-lg">{illustration.title}</h1>
    <p>{illustration.caption}</p>
    <Tags tags={illustration.tags} path="/gallery/" />
  </div>
</div>
