---
import { getAllTags } from "../lib/sanity";
import GalleryImage from "./GalleryImage.astro";
import PaginationNav from "./PaginationNav.astro";
import TagCloud from "./TagCloud.astro";

const { page, path, tagTitle } = Astro.props;
const illustrations = page.data;
const tags = await getAllTags("illustration");
---

<TagCloud path={path} tags={tags} currentTag={tagTitle} />
<ul class="gallery masonry relative w-full">
  {
    illustrations.map((i) => (
      <li class="absolute transition duration-250">
        <GalleryImage illustration={i} />
      </li>
    ))
  }
</ul>
<PaginationNav nextUrl={page.url.next} prevUrl={page.url.prev} />

<script src="../lib/masonry"></script>
