---
import { getAllTags } from "../lib/sanity";
import GalleryImage from "./GalleryImage.astro";
import PaginationNav from "./PaginationNav.astro";
import TagCloud from "./TagCloud.astro";

const { page, path, tagTitle } = Astro.props;
const illustrations = page.data;
const tags = await getAllTags("illustration");
---

<TagCloud path={path} tags={tags} currentTag={tagTitle} />
<ul class="columns-2 md:columns-3 lg:columns-4 gallery">
  {
    illustrations.map((i) => (
      <li class="mb-5 transition duration-100 hover:-translate-y-1">
        <GalleryImage illustration={i} />
      </li>
    ))
  }
</ul>
<PaginationNav nextUrl={page.url.next} prevUrl={page.url.prev} />
