---
import BlogFeed from "../../../components/blog/BlogFeed.astro";
import BlogPagination from "../../../components/blog/BlogPagination.astro";
import PaginationNav from "../../../components/PaginationNav.astro";
import MainLayout from "../../../layouts/MainLayout.astro";
import { getAllPosts, getAllTags } from "../../../lib/sanity";

export async function getStaticPaths({ paginate }) {
  const allTags = await getAllTags();
  const allPosts = await getAllPosts();
  // For every tag, return a paginate() result.
  // Make sure that you pass `{params: {tag}}` to `paginate()`
  // so that Astro knows which tag grouping the result is for.
  return allTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) => {
      return post.tagSlugs.includes(tag.slug.current);
    });
    return paginate(filteredPosts, {
      params: { tag: tag.slug.current },
      pageSize: 3,
    });
  });
}
const { page } = Astro.props;
const params = Astro.params;
const title = params.tag;
---

<MainLayout title={title}>
  <h2>{params.tag}</h2>
  <BlogFeed posts={page.data} />
  <PaginationNav {page} />
</MainLayout>
