---
import MainLayout from "../layouts/MainLayout.astro";
import { getSiteSettings } from "../lib/sanity";
import { sanityPortableText } from "../lib/portableText";
import { urlForImage } from "../lib/sanityImageUrlBuilder";
import SocialsLink from "../components/socialsLink.astro";
const siteSettings = await getSiteSettings();
const socials = siteSettings.socials;

let aboutImage;
if (siteSettings.aboutMeImage) {
  aboutImage = urlForImage(siteSettings.aboutMeImage.image).url();
}
const title = "About";
---

<MainLayout title={title}>
  <div class="max-w-lg mt-6 space-y-5">
    {siteSettings.aboutMeImage && <img src={aboutImage} alt="" />}
    <div class="text-riso-green">
      <h2 class="uppercase text-xl font-semibold">About Me</h2>
      <div class="mt-2" set:html={sanityPortableText(siteSettings.aboutMe)} />
    </div>
    <div class="space-y-3">
      {
        socials &&
          socials.map((social) => (
            <SocialsLink
              url={social.url}
              site={social.site}
              screenName={social.screenName}
            />
          ))
      }
    </div>
  </div>
</MainLayout>
