---
import MainLayout from "../layouts/MainLayout.astro";
import { getAllPosts, getSiteSettings } from "../lib/sanity";
import { urlForImage } from "../lib/sanityImageUrlBuilder";
const settings = await getSiteSettings();
const allPosts = await getAllPosts();
---

<MainLayout>
  <h1>{settings.title}</h1>
  <p>{settings.description}</p>
  <ul>
    {
      allPosts.map((post) => (
        <li>
          <h2>{post.title}</h2>
          <img
            loading="lazy"
            src={urlForImage(post.images[0]).width(300).url()}
            alt={post.images[0].altText}
          />
        </li>
      ))
    }
  </ul>
</MainLayout>
