---
import FeatureBlock from "../../components/blog/FeatureBlock.astro";
import MainLayout from "../../layouts/MainLayout.astro";
import { getAllPosts } from "../../lib/sanity";
import { urlForImage } from "../../lib/sanityImageUrlBuilder";
import risoColorClasses from "../../utility/risoColorClasses";

export async function getStaticPaths() {
  const posts = await getAllPosts();

  return posts.map((post) => {
    return {
      params: { slug: post.slug.current },
      props: { post },
    };
  });
}

const { slug } = Astro.params;
const { post } = Astro.props;
const color = risoColorClasses[post.color];
const mainImage = urlForImage(post.image).width(640).fit("max").url();
const features = post.features;
console.log(features);
---

<MainLayout>
  <article class="container sm mt-6 gallery">
    <span class="text-xs">{post.publishDate.slice(0, 10)}</span>
    <header class="grid grid-cols-2 gap-5">
      <hgroup>
        <h1 class="text-3xl font-semibold uppercase grow">{post.title}</h1>
        {features ? <FeatureBlock features={post.features} /> : undefined}
        <p class="mt-auto">
          {post.description}
        </p>
      </hgroup>
      <a
        class="ps-image"
        href={mainImage}
        data-pswp-src={mainImage}
        data-pswp-width={640}
        target="_blank"
      >
        <img
          class="float-right border-l-10 md:border-l-16 border-riso-red"
          src={mainImage}
          alt=""
        />
      </a>
    </header>
    <section class="mt-6"></section>
  </article>
</MainLayout>
