---
import BlogPostImage from "../../../components/blog/BlogPostImage.astro";
import FeatureBlock from "../../../components/blog/FeatureBlock.astro";
import MainLayout from "../../../layouts/MainLayout.astro";
import { sanityPortableText } from "../../../lib/portableText";
import { getAllPosts } from "../../../lib/sanity";
import risoColorClasses from "../../../utility/risoColorClasses";

export async function getStaticPaths() {
  const allPosts = await getAllPosts();
  return allPosts.map((post) => {
    return {
      params: { slug: post.slug.current },
      props: { post },
    };
  });
}

const { slug } = Astro.params;
const { post } = Astro.props;
const color = risoColorClasses[post.color];

const features = post.features;
const date = post.date.slice(0, 10);
---

<MainLayout title={post.title}>
  <article class="gallery">
    <span class="text-xs">{}</span>
    <div>
      <div>
        <h1 class="text-xl font-semibold uppercase">
          {post.title}
        </h1>

        <p>
          {post.description}
        </p>
      </div>
      {post.illustration && <BlogPostImage illustration={post.illustration} />}
      {features && <FeatureBlock features={post.features} />}
      {post.body && <Fragment set:html={sanityPortableText(post.body)} />}
    </div>
  </article>
</MainLayout>
