---
import BlogPostImage from "../../../components/blog/BlogPostImage.astro";
import BlogPostTags from "../../../components/blog/BlogPostTags.astro";
import FeatureBlock from "../../../components/blog/FeatureBlock.astro";
import MainLayout from "../../../layouts/MainLayout.astro";
import { sanityPortableText } from "../../../lib/portableText";
import { getAllPosts } from "../../../lib/sanity";
import risoColorClasses from "../../../utility/risoColorClasses";

export async function getStaticPaths() {
  const allPosts = await getAllPosts();
  return allPosts.map((post) => {
    return {
      params: { slug: post.slug.current },
      props: { post },
    };
  });
}

const { slug } = Astro.params;
const { post } = Astro.props;
const color = risoColorClasses[post.color];

const features = post.features;
const date = post.date.slice(0, 10);
---

<MainLayout title={post.title}>
  <article class:list={["gallery", color.text]}>
    <span class="text-xs">{date}</span>
    <div>
      <h1 class:list={["text-2xl font-semibold uppercase", color.title]}>
        {post.title}
      </h1>
      <p>
        {post.description}
      </p>
      {post.illustration && <BlogPostImage illustration={post.illustration} />}
      {features && <FeatureBlock features={post.features} />}
      {post.body && <Fragment set:html={sanityPortableText(post.body)} />}
    </div>
    <footer>
      <BlogPostTags tags={post.tags} />
    </footer>
  </article>
</MainLayout>
